<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Length Converter</title>
</head>
<body>
    <form action="/length" method="post">
        <label for="length">Enter the value you wish to convert</label>
        <input type="text" id="length" name="lenghth">
        <select name="From" >
            <option value="" select disabled> choose the unit you wish to converrt from</option>
            
        </select>
    </form>
    
</body>
</html>