<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Length Converter</title>
</head>
<body>
    <form action="/length" method="post">
        <label for="length">Enter the value you wish to convert</label>
        <input type="text" id="length" name="value">
        <select name="From" >
            <option value="" selected disabled> choose the unit you wish to convert from</option>
            <option value="centimeter">centimeter</option>
            <option value="meters">meter</option>
            <option value="kilometer">kilometer</option>

        </select>
         <select name="To" >
            <option value="" selected disabled> choose the unit you wish to convert from</option>
            <option value="centimeter">centimeter</option>
            <option value="meters">meter</option>
            <option value="kilometer">kilometer</option>

        </select>
        <button type="submit">Convert</button>
        {{if .Result}}
            <p>Result: {{.Result}}</p>
        {{end}}
        
    </form>
    
</body>
</html>