<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight Converter</title>

</head>
<body>
    <form action="/weight">
           <label for="weight">Enter the value you wish to convert</label>
        <input type="text" id="weight" name="weight">
        <select name="From" >
            <option value="" select disabled> choose the unit you wish to convert from</option>
            <option value="grams">grams</option>
            <option value="kilograms">kilograms</option>
            <option value="pounds">pounds</option>

        </select>
         <select name="To" >
            <option value="" select disabled> choose the unit you wish to convert to</option>
            <option value="grams">grams</option>
            <option value="kilograms">kilograms</option>
            <option value="pounds">pounds</option>

        </select>
        <button type="submit">Convert</button>
        <p>{{.Result}}</p>
    </form>
    
</body>
</html>